<div class="container">
  <div class="contents-header">
    <h5 class="header-text">ジャンル編集</h5>
  </div>
  <div class="row">
    <div class="genre-form form-inline col-5">
      <label class="genre-new">ジャンル名</label>
      <%= form_with model:@genre, url:admin_genre_path, local:true do |f| %>
        <%= f.text_field :name, class:"form-control", placeholder:"ジャンル名" %>
        <%= f.submit  '変更を保存',class:"btn btn-success"  %>
      <% end %>
    </div>
  </div>
</div>