// Place all the styles related to the admin/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-name {
  padding: 5px;
  margin: 10px;
}

.genre-table {
  maegin: 0 auto;
}

.genre-new {
  display: inline-block;
  float: left;
  margin-right: 15;
}

.genre-buttin {
  loat: left;
  margin: 10;
}