/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


.contents-header {
        background-color: #b0c4de;
        margin: 30px 60px;
        width: 200px;
}

.header-text {
        text-align: center;
}

.add {
        font-size: 2em;
        color: #B0E0E6;
        box-shadow: 2px 2px 4px;

}

.add-button {
        text-align: right;
}

.items-table {
        width: 100%;
        margin: 0 auto;
}

.item-image, .item-details {
        display: inline-block;
}

.item-details {
        margin: 5px auto;
}

.item-button {
        text-align: center;
}


$active: true;
$inactive: false;

.customer-status {
        @if $active == true {
                color: #32cd32;
        }
        @else {
                color: #808080;
        }
}

/*会員側*/
.main-visual {
        height: 500px;
        width: 100%;
}

.main-visual-content {
        height: 250px;
        text-align: center;
        padding: 150px 0;
}

.top-items {
        height: 200px;
        width: 100%;
}

.new-items {
        display: flex;
        width: auto;
        justify-content: space-between;
}

.item-link {
        float: right;
}

.items-header {
        margin: 20px;
        padding-left: 30px;
        display: flex;

}

.item-numbers {
        padding: 10px;
}

.items-all {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
}

.item-detail {
        margin: 5px;
}

.about-title, .about-content {
        width: 100%;
        margin: 0 auto;
        text-align: center;
}

.about-title {
        padding: 40px;
}

.cart-top {
        height: 100px;
        width: 100%;
        margin: 10px;
}

.empty-button {
        float: right;
}

.item-name {
        display: inline-block;
}

.total-price {
        float: right;
}

.cart-button{
        margin-left: 40%;
        margin-right: 40%;
}
.cart-contents {
        height: 100px;
        width: 90%;
        margin: 0 auto;
}

.customer-order-index {
        width: 100%;
        margin: 20px;
        padding-left: 15px;
}

.customer-order-contents {
        width: 80%;
        padding-left: 40px;
}

.customer-address {
        margin: 10px;
        padding-left: 15px;
}

.address-1 {
        display: flex;
}
.customer-link {
        display: flex;
        margin: 20px;
}
.customer-link-button{
        margin-left: 50px;
}
.edit-customer-contents {
        display: flex;
        margin: 10px;
}

.edit-customer-detail {
        padding-left: 30px;
}

.edit-button, 
.unsubscribe-button {
        margin-left: 30px;
        margin-right: 40px;
}

.order_detail-tables {
        display: flex;
}

.order-table {
        margin-left: 20px;
}

.order-item-table {
        width: 70%;
}

.address-form {
        display: flex;
        margin: 20px;
}